<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>

    <!--Folhas de estilo CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <!--Arquivos Javascript-->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Area destinada a javascript-->
    @RenderSection("script", required: false)
</head>
<body class="container">
    <div class="well well-sm">
        <h2>Projeto Controle de contas</h2>
        Asp.Net MVC, EntityFramework, SimpleInjector e SignalR
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</body>
</html>
