
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Bem vindo ao projeto</h4>
<hr />

<p>Selecione a ação desejada:</p>

<ul>
    <li><a href="/Conta/Cadastro">Cadastrar Contas</a></li>
    <li><a href="/Conta/Consulta">Consultar Contas</a></li>
</ul>